.date-picker {
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.date-picker div {
    display: inline-block;
}

.prev,
.next {
    margin: 10px;
    cursor: pointer;
}

.date-picker--calendar {
    margin: 10px;
    cursor: pointer;
}