.date-picker {
    width: 250px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}
.date-picker div {
    display: inline-block;
}

.prev,
.next {
    margin: 10px;
    /* color: #777; */
    cursor: pointer;
}