.details {
    display: inline-block;
    margin: 5px;
    width: calc(100% - 250px - 20px - 20px - 5px); /* 100% - list width - margins - padding - breathing space */
}

.details-text {
    border: solid 1px #ccc;
    border-radius: 5px;
    height: 500px;
    width: 100%;
    font-size: 12pt;
    padding: 10px;
}
