.search {
    position: relative;
}

.search .fa-search {
    color: #bbb;
    font-size: 14pt;
    position: absolute;
    left: 20px;
    top: 12px;
}

.search--input {
    width: 80%;
    margin-left: 50px;
    height: 40px;
    border: none;
    font-size: 12pt;
}
