.tags-picker {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.tags-picker--active {
    min-width: 135px;
}

.tags-picker--list {
    position: absolute;
    color: #4990fe;
    background-color: #fff;
    max-width: 200px;
    overflow: hidden;
    padding: 10px;
    top: 40px;
    left: -100%;
    transition: left 0.25s;
    z-index: 5;
    box-shadow: rgba(170, 170, 170, 0.4) 2px 7px 8px 0px;
}

.tags-picker--list-active {
    left: 0px;
}

.tags-picker--tag {
    margin-bottom: 10px;
}

.tags-picker--tag:hover {
    opacity: 0.8;
    cursor: pointer;
}

.tags-picker--tag-active {
    text-decoration: underline;
}

.tags-picker--button {
    cursor: pointer;
}
