body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.icon-search {
    height: 20px;
    width: 20px;
    background-image: url('/images/icons/icon-search.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

.header {
    border-bottom: solid 1px #e8e8e8;
    height: 50px;
}

.card {
    box-shadow: 0px 0px 5px 0px #e8e8e8;
}

.column-left {
    width: 250px;
    display: inline-block;
}

.column-right {
    width: calc(100% - 270px);
    min-width: 375px;
    display: inline-block;
}

@media (max-width: 420px) {
    /* To prevent iOS auto-zoom on input focus */
    textarea.list-text-input {
        font-size: 16px;
    }
}
